#ex1Slider .slider-selection {
  background: #BABABA;
}
#pointPattern {
  width: 255px;
  height: 255px;
  background-color: black;
}
#points-text {
  width: 49%;
  height: 255px;
}
#wave-text {
  width: 49%;
  height: 255px;
}
#wavePattern {
  width: 360px;
  height: 255px;
  background-color: darkslategrey;
}
#messages {
  width: 100%;
  height: 200px;
}
