<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Flask-SocketIO Test</title>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/css/bootstrap-slider.min.css">

  <link rel="stylesheet" href="/css/main.css">
  <script src="js/blossom.js"></script>

  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/bootstrap-slider.min.js"></script>
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>

  </style>
</head>
<body>

<div class="container">
<h1>Blossom</h1>

<div class="row">
  <div class="col-sm-3">
    System On/Off
  </div>
  <div class="col-sm-3">
    <input id="arduino-on-off" type="checkbox" value="">
  </div>
  <div class="col-sm-3">
    <button id="led-on">LED on</button>
    <button id="led-off">LED off</button>
  </div>
  <div class="col-sm-3">
    <button id="send-points">Send Points</button>
    <button id="send-wave">Send Wave</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    Async mode
  </div>
  <div class="col-sm-3">
    {{ async_mode }}
  </div>
  <div class="col-sm-3">
    ping/pong latency (ms)
  </div>
  <div class="col-sm-3">
    <span id="ping-pong"></span>
  </div>
</div>

<div class="row">
    <div class="col-sm-3">
        Tone frequency
    </div>
    <div class="col-sm-3">
        <span id="tone-frequency"></span>
    </div>
    <div class="col-sm-3">
        <span id="pattern-frequency"></span>
    </div>
    <div class="col-sm-3">
        <span id="pattern-tone-ratio"></span>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">

      <div class="row">
        <div class="col-sm-4">
          Tone
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>
        </div>
        <div class="col-sm-7">
          <input class="slider" id="tone" data-event="tone" type="text" data-slider-min="10" data-slider-max="200"
                 data-slider-step="1"
                 data-slider-value="65"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Tone Frequency Point Offset
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>
        </div>
        <div class="col-sm-7">
          <input class="slider" id="tone-frequency-point-offset" data-event="tone frequency ratio" type="text" data-slider-min="0" data-slider-max="100"
                 data-slider-step="1"
                 data-slider-value="4"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Tone Amplitude
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>
        </div>
        <div class="col-sm-7">
          <input class="slider" id="tone-amplitude" data-event="tone" type="text" data-slider-min="0" data-slider-max="100"
                 data-slider-step="1"
                 data-slider-value="4"/>
        </div>
      </div>

        <div class="row">
            <div class="col-sm-4">
                Points in frame
            </div>
            <div class="col-sm-1">
                <span class="slider-val"></span>
            </div>
            <div class="col-sm-7">
                <input class="slider" id="points-per-frame" data-event="points per frame" type="text" data-slider-min="2" data-slider-max="120"
                       data-slider-step="1"
                       data-slider-value="80"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                Bias X
            </div>
            <div class="col-sm-1">
                <span class="slider-val"></span>
            </div>
            <div class="col-sm-7">
                <input class="slider" id="bias-x" data-event="bias x" type="text" data-slider-min="-20" data-slider-max="20"
                       data-slider-step="1"
                       data-slider-value="10"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                Bias y
            </div>
            <div class="col-sm-1">
                <span class="slider-val"></span>
            </div>
            <div class="col-sm-7">
                <input class="slider" id="bias-y" data-event="bias y" type="text" data-slider-min="-20" data-slider-max="20"
                       data-slider-step="1"
                       data-slider-value="10"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                Multiply X
            </div>
            <div class="col-sm-1">
                <span class="slider-val"></span>
            </div>
            <div class="col-sm-7">
                <input class="slider" id="multiply-x" data-event="multiply x" type="text" data-slider-min="0.5" data-slider-max="2"
                       data-slider-step="0.01"
                       data-slider-value="1"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                Multiply y
            </div>
            <div class="col-sm-1">
                <span class="slider-val"></span>
            </div>
            <div class="col-sm-7">
                <input class="slider" id="multiply-y" data-event="multiply y" type="text" data-slider-min="0.5" data-slider-max="2"
                       data-slider-step="0.01"
                       data-slider-value="1"/>
              </div>
        </div>
    

      <div class="row">
        <div class="col-sm-4">
          Circle Size
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>

        </div>
        <div class="col-sm-7">
          <input class="slider" id="circle-size" data-event="circle size" type="text" data-slider-min="0"
                 data-slider-max="66" data-slider-step="1"
                 data-slider-value="45"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Circle Ratio
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>

        </div>
        <div class="col-sm-7">
          <input class="slider" id="circle-ratio" data-event="circle ratio" type="text" data-slider-min="0"
                 data-slider-max="100"
                 data-slider-step="1" data-slider-value="50"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Small circle phase
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>

        </div>
        <div class="col-sm-7">
          <input class="slider" id="circle-size-small" data-event="circle size small" type="text"
                 data-slider-min="1" data-slider-max="10"
                 data-slider-step="1" data-slider-value="6"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Red Phase
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>

        </div>
        <div class="col-sm-7">
          <input class="slider" id="phase-red" data-event="phase red" type="text" data-slider-min="0"
                 data-slider-max="100"
                 data-slider-step="1" data-slider-value="[66, 100]"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Green Phase
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>

        </div>
        <div class="col-sm-7">
          <input class="slider" id="phase-green" data-event="phase red" type="text" data-slider-min="0"
                 data-slider-max="100"
                 data-slider-step="1" data-slider-value="[33,66]"/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          Blue Phase
        </div>
        <div class="col-sm-1">
          <span class="slider-val"></span>

        </div>
        <div class="col-sm-7">
          <input class="slider" id="phase-blue" data-event="phase blue" type="text" data-slider-min="0"
                 data-slider-max="100"
                 data-slider-step="1" data-slider-value="[0,33]"/>
        </div>
      </div>

    </div>

    <div class="col-sm-3">
      <label for="log">Log</label>
      <textarea id="log"></textarea>
      <label for="error">Error</label>
      <textarea id="error"></textarea>
    </div>

  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <canvas id="pointPattern" width= "255" height="255">

        </canvas>
      </div>
      <div class="col-sm-4">
        <canvas id="wavePattern" width= "360" height="255">

        </canvas>
      </div>
      <div class="col-sm-5">
        <textarea id="points-text">

        </textarea>
        <textarea id="wave-text">

        </textarea>
      </div>
    </div>

  </div>

  <div class="container">

      <div class="row">
          <div class="col-sm-3">
              <h3>Data</h3>
              <textarea id="plot-data">
              [
              {
              target: "prod.app-lb01.cpt.prod.takealot.com.nginx.response_code.200",
              datapoints: [
              [
              3110,
              1474537440
              ],
              [
              3009,
              1474537500
              ],
              [
              3002,
              1474537560
              ],
              [
              2865,
              1474537620
              ],
              [
              2885,
              1474537680
              ],
              [
              3026,
              1474537740
              ],
              [
              2916,
              1474537800
              ],
              [
              2998,
              1474537860
              ],
              [
              3058,
              1474537920
              ],
              [
              2826,
              1474537980
              ],
              [
              2817,
              1474538040
              ],
              [
              2928,
              1474538100
              ],
              [
              2880,
              1474538160
              ],
              [
              2795,
              1474538220
              ],
              [
              2882,
              1474538280
              ],
              [
              2722,
              1474538340
              ],
              [
              2692,
              1474538400
              ],
              [
              2446,
              1474538460
              ],
              [
              2870,
              1474538520
              ],
              [
              2748,
              1474538580
              ],
              [
              2656,
              1474538640
              ],
              [
              2812,
              1474538700
              ],
              [
              2779,
              1474538760
              ],
              [
              2614,
              1474538820
              ],
              [
              2664,
              1474538880
              ],
              [
              2659,
              1474538940
              ],
              [
              2535,
              1474539000
              ],
              [
              2562,
              1474539060
              ],
              [
              2564,
              1474539120
              ],
              [
              2538,
              1474539180
              ],
              [
              2443,
              1474539240
              ],
              [
              2472,
              1474539300
              ],
              [
              2541,
              1474539360
              ],
              [
              2558,
              1474539420
              ],
              [
              2476,
              1474539480
              ],
              [
              2526,
              1474539540
              ],
              [
              2669,
              1474539600
              ],
              [
              2617,
              1474539660
              ],
              [
              2775,
              1474539720
              ],
              [
              2630,
              1474539780
              ],
              [
              2669,
              1474539840
              ],
              [
              2537,
              1474539900
              ],
              [
              2618,
              1474539960
              ],
              [
              2438,
              1474540020
              ],
              [
              2439,
              1474540080
              ],
              [
              2564,
              1474540140
              ],
              [
              2414,
              1474540200
              ],
              [
              2480,
              1474540260
              ],
              [
              2420,
              1474540320
              ],
              [
              2516,
              1474540380
              ],
              [
              2466,
              1474540440
              ],
              [
              2601,
              1474540500
              ],
              [
              2441,
              1474540560
              ],
              [
              2481,
              1474540620
              ],
              [
              2750,
              1474540680
              ],
              [
              2588,
              1474540740
              ],
              [
              2451,
              1474540800
              ],
              [
              2482,
              1474540860
              ],
              [
              2431,
              1474540920
              ],
              [
              2598,
              1474540980
              ],
              [
              2539,
              1474541040
              ],
              [
              2336,
              1474541100
              ],
              [
              2158,
              1474541160
              ],
              [
              2444,
              1474541220
              ],
              [
              2536,
              1474541280
              ],
              [
              2346,
              1474541340
              ],
              [
              2379,
              1474541400
              ],
              [
              2519,
              1474541460
              ],
              [
              2622,
              1474541520
              ],
              [
              2667,
              1474541580
              ],
              [
              2339,
              1474541640
              ],
              [
              2444,
              1474541700
              ],
              [
              2353,
              1474541760
              ],
              [
              2562,
              1474541820
              ],
              [
              2306,
              1474541880
              ],
              [
              2424,
              1474541940
              ],
              [
              2552,
              1474542000
              ],
              [
              2208,
              1474542060
              ],
              [
              2316,
              1474542120
              ],
              [
              2222,
              1474542180
              ],
              [
              2264,
              1474542240
              ],
              [
              2423,
              1474542300
              ],
              [
              2418,
              1474542360
              ],
              [
              2383,
              1474542420
              ],
              [
              2218,
              1474542480
              ],
              [
              2447,
              1474542540
              ],
              [
              2300,
              1474542600
              ],
              [
              2359,
              1474542660
              ],
              [
              2301,
              1474542720
              ],
              [
              2511,
              1474542780
              ],
              [
              2405,
              1474542840
              ],
              [
              2440,
              1474542900
              ],
              [
              2642,
              1474542960
              ],
              [
              2658,
              1474543020
              ],
              [
              2533,
              1474543080
              ],
              [
              2589,
              1474543140
              ],
              [
              2464,
              1474543200
              ],
              [
              2545,
              1474543260
              ],
              [
              2682,
              1474543320
              ],
              [
              2735,
              1474543380
              ],
              [
              2580,
              1474543440
              ],
              [
              2641,
              1474543500
              ],
              [
              2487,
              1474543560
              ],
              [
              2288,
              1474543620
              ],
              [
              2551,
              1474543680
              ],
              [
              2410,
              1474543740
              ],
              [
              2609,
              1474543800
              ],
              [
              2600,
              1474543860
              ],
              [
              2687,
              1474543920
              ],
              [
              2470,
              1474543980
              ],
              [
              2574,
              1474544040
              ],
              [
              2387,
              1474544100
              ],
              [
              2336,
              1474544160
              ],
              [
              2474,
              1474544220
              ],
              [
              2500,
              1474544280
              ],
              [
              2630,
              1474544340
              ],
              [
              2622,
              1474544400
              ],
              [
              2495,
              1474544460
              ],
              [
              2791,
              1474544520
              ],
              [
              2783,
              1474544580
              ]
              ]
              },
              {
              target: "prod.app-lb02.cpt.prod.takealot.com.nginx.response_code.200",
              datapoints: [
              [
              3065,
              1474537440
              ],
              [
              3089,
              1474537500
              ],
              [
              3012,
              1474537560
              ],
              [
              2975,
              1474537620
              ],
              [
              2886,
              1474537680
              ],
              [
              2940,
              1474537740
              ],
              [
              3270,
              1474537800
              ],
              [
              3066,
              1474537860
              ],
              [
              3015,
              1474537920
              ],
              [
              2868,
              1474537980
              ],
              [
              3190,
              1474538040
              ],
              [
              2918,
              1474538100
              ],
              [
              3134,
              1474538160
              ],
              [
              2961,
              1474538220
              ],
              [
              2779,
              1474538280
              ],
              [
              2841,
              1474538340
              ],
              [
              2634,
              1474538400
              ],
              [
              2533,
              1474538460
              ],
              [
              2713,
              1474538520
              ],
              [
              2789,
              1474538580
              ],
              [
              2816,
              1474538640
              ],
              [
              2760,
              1474538700
              ],
              [
              2749,
              1474538760
              ],
              [
              2580,
              1474538820
              ],
              [
              2536,
              1474538880
              ],
              [
              2743,
              1474538940
              ],
              [
              2710,
              1474539000
              ],
              [
              2513,
              1474539060
              ],
              [
              2651,
              1474539120
              ],
              [
              2789,
              1474539180
              ],
              [
              2776,
              1474539240
              ],
              [
              2701,
              1474539300
              ],
              [
              2595,
              1474539360
              ],
              [
              2550,
              1474539420
              ],
              [
              2612,
              1474539480
              ],
              [
              2706,
              1474539540
              ],
              [
              2539,
              1474539600
              ],
              [
              2576,
              1474539660
              ],
              [
              2736,
              1474539720
              ],
              [
              2713,
              1474539780
              ],
              [
              2655,
              1474539840
              ],
              [
              2589,
              1474539900
              ],
              [
              2502,
              1474539960
              ],
              [
              2476,
              1474540020
              ],
              [
              2423,
              1474540080
              ],
              [
              2556,
              1474540140
              ],
              [
              2515,
              1474540200
              ],
              [
              2457,
              1474540260
              ],
              [
              2508,
              1474540320
              ],
              [
              2561,
              1474540380
              ],
              [
              2542,
              1474540440
              ],
              [
              2579,
              1474540500
              ],
              [
              2421,
              1474540560
              ],
              [
              2521,
              1474540620
              ],
              [
              2663,
              1474540680
              ],
              [
              2444,
              1474540740
              ],
              [
              2501,
              1474540800
              ],
              [
              2391,
              1474540860
              ],
              [
              2491,
              1474540920
              ],
              [
              2591,
              1474540980
              ],
              [
              2360,
              1474541040
              ],
              [
              2287,
              1474541100
              ],
              [
              2572,
              1474541160
              ],
              [
              2301,
              1474541220
              ],
              [
              2247,
              1474541280
              ],
              [
              2480,
              1474541340
              ],
              [
              2427,
              1474541400
              ],
              [
              2662,
              1474541460
              ],
              [
              2569,
              1474541520
              ],
              [
              2591,
              1474541580
              ],
              [
              2572,
              1474541640
              ],
              [
              2520,
              1474541700
              ],
              [
              2492,
              1474541760
              ],
              [
              2409,
              1474541820
              ],
              [
              2427,
              1474541880
              ],
              [
              2448,
              1474541940
              ],
              [
              2205,
              1474542000
              ],
              [
              2241,
              1474542060
              ],
              [
              2354,
              1474542120
              ],
              [
              2251,
              1474542180
              ],
              [
              2165,
              1474542240
              ],
              [
              2418,
              1474542300
              ],
              [
              2530,
              1474542360
              ],
              [
              2332,
              1474542420
              ],
              [
              2383,
              1474542480
              ],
              [
              2391,
              1474542540
              ],
              [
              2289,
              1474542600
              ],
              [
              2378,
              1474542660
              ],
              [
              2298,
              1474542720
              ],
              [
              2325,
              1474542780
              ],
              [
              2357,
              1474542840
              ],
              [
              2554,
              1474542900
              ],
              [
              2427,
              1474542960
              ],
              [
              2867,
              1474543020
              ],
              [
              2693,
              1474543080
              ],
              [
              2491,
              1474543140
              ],
              [
              2561,
              1474543200
              ],
              [
              2584,
              1474543260
              ],
              [
              2674,
              1474543320
              ],
              [
              2726,
              1474543380
              ],
              [
              2661,
              1474543440
              ],
              [
              2198,
              1474543500
              ],
              [
              2427,
              1474543560
              ],
              [
              2529,
              1474543620
              ],
              [
              2386,
              1474543680
              ],
              [
              2445,
              1474543740
              ],
              [
              2603,
              1474543800
              ],
              [
              2525,
              1474543860
              ],
              [
              2622,
              1474543920
              ],
              [
              2614,
              1474543980
              ],
              [
              2557,
              1474544040
              ],
              [
              2338,
              1474544100
              ],
              [
              2550,
              1474544160
              ],
              [
              2477,
              1474544220
              ],
              [
              2507,
              1474544280
              ],
              [
              2473,
              1474544340
              ],
              [
              2447,
              1474544400
              ],
              [
              2435,
              1474544460
              ],
              [
              2676,
              1474544520
              ],
              [
              2730,
              1474544580
              ]
              ]
              }
              ]
              </textarea>
          </div>
          <div class="col-sm-9">
              <h3>Plot</h3>
              <label for="ms-per-point">ms per data point</label>
              <input id="ms-per-point" value="1000">
              <label for="tweening-frames">tweening frames</label>
              <input id="tweening-frames" value="10">
              <button id="go">Go!</button>
              <button id="stop">Stop</button>
              <div id="data-input-mappings"></div>
          </div>
      </div>

  </div>

</div>
</div>


<div id="log"></div>
</body>
</html>
        
        
<!--        
front end 
Grafana p95 responses 
volume              
Catalogue number of calls
-->        
        